<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pacientes</title>
</head>
<body>
    <h1>Pacientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Idade</th>
                <th>Email</th>
                <th>...</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.nome}"></td>
                <td th:text="${paciente.cpf}"></td>
                <td th:text="${paciente.idade}"></td>
                <td th:text="${paciente.emailPessoal}"></td>
                <td>...</td>
            </tr>
        </tbody>
    </table>

    <h2>Adicionar Paciente</h2>
    <form th:action="@{/pacientes}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"><br>

        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf"><br>

        <label for="idade">Idade:</label>
        <input type="number" id="idade" name="idade"><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email"><br>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>
